/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/create.scss */
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "STHeiti Light",sans-serif;
  background-color: #feb8c9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../sass/create.scss */
.img-wrap {
  height: 50%;
  margin-top: 1rem;
  text-align: center;
}

/* line 23, ../sass/create.scss */
.img-wrap img {
  height: 100%;
}

/* line 26, ../sass/create.scss */
form {
  margin-top: 3rem;
  text-align: center;
}

/* line 30, ../sass/create.scss */
input[type="radio"] {
  display: none;
}

/* line 33, ../sass/create.scss */
span {
  font-size: 1.5rem;
  color: #434343;
  line-height: 2.5rem;
  display: inline-block;
  vertical-align: middle;
}

/* line 40, ../sass/create.scss */
label {
  position: relative;
  width: 5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: #434343;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #b3ecf8;
  -moz-border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  border-radius: 1.2rem;
}
/* line 52, ../sass/create.scss */
.heart {
  position: absolute;
  top: -1em;
  left: -1rem;
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

/* line 60, ../sass/create.scss */
label.male-label {
  margin: 0 1.2rem 0 3.1rem;
}

/* line 63, ../sass/create.scss */
button {
  position: relative;
  width: 16rem;
  height: 4.4rem;
  font-size: 1.5rem;
  color: #434343;
  background-color: #b3ecf8;
  display: block;
  margin: 5rem auto 0 auto;
  border: none;
  -moz-border-radius: 2.2rem;
  -webkit-border-radius: 2.2rem;
  border-radius: 2.2rem;
}
/* line 74, ../sass/create.scss */
.button-img {
  position: absolute;
  top: -2.8rem;
  left: 0.8rem;
  width: 3.7rem;
  height: 4.2rem;
}
