/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/show.scss */
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "STHeiti Light",sans-serif;
  background: #feb8c9 url("../images/follwer_bg.png") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 11, ../sass/show.scss */
body {
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* line 16, ../sass/show.scss */
.wedding {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #feb8c9;
  text-align: center;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 3;
}

/* line 25, ../sass/show.scss */
.wedding-img {
  width: 100%;
}
/* line 27, ../sass/show.scss */
.wedding-img img {
  width: 100%;
}

/* line 31, ../sass/show.scss */
.wedding-text {
  margin-top: 10%;
}
/* line 33, ../sass/show.scss */
.wedding-text p {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  color: #fff;
}

/* line 39, ../sass/show.scss */
.button {
  width: 2.9rem;
  height: 1.7rem;
  margin: 15% auto 0 auto;
}
/* line 43, ../sass/show.scss */
.button img {
  width: 100%;
  height: 100%;
}

/* line 48, ../sass/show.scss */
.wedding-pic-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 56, ../sass/show.scss */
.wedding-pic {
  width: 90%;
}
/* line 58, ../sass/show.scss */
.wedding-pic img {
  width: 100%;
}

/* line 62, ../sass/show.scss */
.text {
  height: 50%;
  padding-top: 20%;
  text-align: center;
}
/* line 66, ../sass/show.scss */
.text p {
  margin-bottom: 1.9rem;
  font-size: 1.5rem;
  color: #fff;
}
/* line 71, ../sass/show.scss */
.text span {
  margin: 0 5px;
}

/* line 75, ../sass/show.scss */
.check {
  margin-top: 10%;
}

/* line 78, ../sass/show.scss */
button {
  margin: 2.5rem auto 0 auto;
  width: 16rem;
  height: 4.4rem;
  font-size: 1.5rem;
  color: #434343;
  background-color: #b3ecf8;
  display: block;
  border: none;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
